## Module:      webui
## Loaded by:   Broker
# The Shinken web interface and integrated web server.
define module {
    module_name         webui
    module_type         webui
    host                0.0.0.0     ; All interfaces = 0.0.0.0
    port                8080
    auth_secret         98eq9dndqoiUJDJLFALJEQ29EUR8YAKDHjkasldkmakajd   ; CHANGE THIS or someone could forge cookies
    allow_html_output   1       ; Allow or not HTML chars in plugins output.
                                ; WARNING: Allowing can be a security issue.
    max_output_length   1024     ; Maximum output length for plugin output in webui
    manage_acl          1       ; Use contacts ACL. 0 allow actions for all.
    play_sound          0       ; Play sound on new non-acknowledged problems.
    login_text          Shinken WebUI    ; Text in the login form.

    ## Modules for WebUI
    # - auth-htpasswd         = Use an htpasswd file for auth backend.
    # - auth-active-directory = Use AD for auth backend (and retrieve photos).
    # - auth-cfg-password     = Use the password setted in Shinken contact for auth.
    # - ui-pnp                = Use PNP graphs in the UI.
    # - ui-graphite           = Use graphs from Graphite time series database.
    # - mongodb               = Save user preferences to a Mongodb database
    # - SQLitedb              = Save user preferences to a SQLite database
    modules             auth-cfg-password,SQLitedb
}
